.center {
    margin: auto;
    width: 98%;
    border:3px solid #8AC007;
    padding: 10px;
}

#btnNewAnalysis {
    border: 1px solid #000000;
    background-color: #c0c0c0;
    padding: 2px;
    margin-bottom: 10px;
    text-align: center
}

.analysisControl {
    font-height: 0.7em;
    margin: 3px;
    text-align: center;
    visibility: hidden;
}

.analysisControl:hover {
    font-color: #c0c0c0;
}

.analysisBoard {
    background: #e0e0e0;
}

.newBoardControls span {
    font-weight: bold;
    vertical-align: top;
    padding-left: 10px;
    left: 15px;
}
.newBoardControls button {
    margin-left: 15px;
    vertical-align: top;
}

.analysisBoard-resizable-helper {
      border: 1px dotted #000000;
}

.analysisBoardCellSizeSelector {
    width: 40px;
}

.analysisBoardCell {
    display: table-cell;
    background-color: #e0e0e0;
    width: 2px;
    height:tive 4px;
    padding-right: 1px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.analysisBoardCell:hover {
    background-color: #d29c0e; /*#7fffd4;*/
}

.analysisBoardCellAlive {
    background-color: #4863a0; /*#342d7e;*/
    /*background-color: #d29c0e;*/
}
