<div>
    <!--
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header text-center" role="tab" id="optionsHeading">
            <a data-toggle="collapse" data-parent="#accordion" href="#options" aria-expanded="true" aria-controls="options">
              Options
            </a>
        </div>

        <div id="options" class="collapse" role="tabpanel" aria-labelledby="optionsHeading">
          <div class="card-block">
            TODO
          </div>
        </div>
      </div>
    </div>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <a class="text-center" data-toggle="collapse" data-parent="#accordion" href="#options" aria-expanded="true" aria-controls="options">
            Options
        </a>
        <div id="options" class="collapse" role="tabpanel" aria-labelledby="optionsHeading">
            TODO
        </div>
    </div>
    -->
    <button type="button" class="btn btn-primary btn-block" (click)="create()">Study Life!</button>
</div>
