<div class="m-2 d-flex flex-row">
    <!-- TODO: Add delete button -->
    <div class="d-flex flex-column">
        <span *ngIf="creating">
            <div class="d-flex flex-row mb-1">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Rows</span>
                    <input type="text" class="form-control" size="3" placeholder="rows" [(ngModel)]="experiment.rows" (change)="createSeed()" aria-describedby="basic-addon1">
                </div>
                <div class="input-group ml-1">
                    <span class="input-group-addon" id="basic-addon1">Cols</span>
                    <input type="text" class="form-control" size="3" placeholder="columns" [(ngModel)]="experiment.columns" (change)="createSeed()" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="d-flex flex-row mb-1">
                <div class="input-group align-self-stretch">
                    <span class="input-group-addon" id="basic-addon1">Cell size</span>
                    <span class="range rounded-right">
                        <input type="range" min="2" max="6" [(ngModel)]="cellSize" [title]="cellSize" />
                    </span>
                </div>
                <div class="input-group ml-1 align-self-stretch">
                    <span class="input-group-addon" id="basic-addon1">Density</span>
                    <span class="range rounded-right">
                        <input type="range" min="10" max="90" [(ngModel)]="experiment.initialDensity" (change)="createSeed()" [title]="experiment.initialDensity" />
                    </span>
                </div>
            </div>
            <!--button type="button"
                    class="btn btn-secondary align-self-stretch"
                    title="Regenerate seed"
                    (click)="createSeed()">&#x21BA;</button-->
            <button type="button" class="btn btn-outline-info w-100" (click)="analyze()">Analyze</button>
        </span>
        <div class="d-flex flex-row mt-1">
            <board [cols]="experiment.columns" [rows]="experiment.rows"
                   [cellSize]="cellSize" [cellSpacing]="cellSpacing"
                   [cells]="getCurrentGeneration().living">
            </board>
            <div class="ml-1 d-flex flex-column pb-2">
                <div class="h-100">
                    <culture-info [generation]="getCurrentGeneration()"
                                  [boardWidth]="experiment.columns"
                                  [boardHeight]="experiment.rows"
                                  (close)="destroy()">
                    </culture-info>
                </div>
                <div *ngIf="!creating" class="mt-1 playback-controls align-items-end">
                    <div>
                        <span *ngIf="!playing">
                            <span (click)="nav('-', 20)" title="Move backwards 20 generations">&#x25c5;</span>
                            <span (click)="nav('-', 1)" title="Move backwards 1 generation">&#x25c2;</span>
                        </span>
                        <span (click)="togglePlaying()">
                            <span *ngIf="!playing" title="Play">&#x25ba;</span>
                            <span *ngIf="playing" title="Pause">▮▮</span>
                        </span>
                        <span *ngIf="!playing">
                            <span (click)="nav('+', 1)" title="Move forward 1 generation">&#x25b8;</span>
                            <span (click)="nav('+', 20)" title="Move forward 20 generations">&#x25bb;</span>
                        </span>
                    </div>
                    <div class="speed">
                        <span (click)="speed('-', 10)" title="decrease rate">-</span>
                        <span>{{playRateMs}}ms</span>
                        <span (click)="speed('+', 10)" title="increase rate">+</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
