.culture-info {
    background-color: #fafafa;
    border: 1px solid #a0a0a0;
    font-family: Verdana, sans-serif;
    font-size: .85em;
}

.status-active {
    background-color: #f6f987;
}

.status-stable {
    background-color: #8cff71;
}

.status-dead {
    background-color: #ff4c4c;
}

.culture-info .dims {
    color: #848484;
    font-size: .65em;
}

.culture-info .label {
    color: #5d5d5d;
}

.culture-info .data {
}

.close {
    position: relative;
    left: 5px;
    bottom: 7px;
    opacity: .5;
    font-size: .75em;
}

.close:hover {
    color: red;
    opacity: .50;
}
