.culture-info {
    background: #fafafa;
    color: #000000;
    border: 1px solid #a0a0a0;
    font-family: Tahoma, sans-serif;
    font-size: .9em;
}

.culture-info .dims {
    color: #c0c0c0;
    text-align: right;
    font-family: Verdana, inherit;
    font-size: .65em;
}

.culture-info .label {
    color: #f0f0f0;
    font-family: Verdana, inherit;
    font-size: .85em;
}

.culture-info .data {
}
