.culture-info {
    background: #fafafa;
    border: 1px solid #a0a0a0;
    font-family: Verdana, sans-serif;
    font-size: .85em;
}

.culture-info .dims {
    color: #c0c0c0;
    font-size: .65em;
}

.culture-info .label {
    color: #5d5d5d;
}

.culture-info .data {
}

.close {
    position: relative;
    left: 5px;
    bottom: 7px;
    opacity: .5;
    font-size: .75em;
}

.close:hover {
    color: red;
    opacity: .50;
}
